*{
  margin: 0;
}
.app{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10%;
}
.app__header{
  padding: 20px;
}
.app__form{
  padding: 20px;
  display: flex;
  align-items: center;
  min-width: 20vw;
  justify-content: space-between;
}
